<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif%}

<form action="{% url 'home:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    <!-- label for에서 input의 id와 같은값을 선택하도록 -->
{% endfor %}
<input type="submit" value="Vote">
</form>